<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#logged_in" aria-controls="home" role="tab" data-toggle="tab">Logged in snippet</a>
  </li>
  <li role="presentation">
    <a href="#logged_out" aria-controls="profile" role="tab" data-toggle="tab">Logged out snippet</a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="logged_in">
    <pre>
      <code>
        <%= logged_in_string(current_admin, @intercom_settings) %>
      </code></pre>
  </div>
  <div  role="tabpanel" class="tab-pane" id="logged_out">
    <pre>
      <code>
        <%= logged_out_string %>
      </code></pre>
  </div>
</div>
