<div class="admin-main-wrapper">
  <div class="settings-wrapper">
    <div class="settings-card">
      <p class="title">Javascript Settings</p>

    </div>
    <div class="settings-card">
      <p class="title">Your Javascript Snippet</p>
      <p>The javascript below uses your admin details. On your site, intercomSettings will change according to the account you are logged in with at the time.</p>
      <%= render '/admin/shared/admin_javascript_settings' %>
    </div>
  </div>
</div>
