<h1>Welcome to Bellhop</h1>
<% unless current_admin %>
  <%= link_to('Get Started', new_admin_registration_path)  %>
<% else %>
  <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
<% end %>
