.admin-body {
  background: #f1f1f1;
}

.admin-main-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: block;
}

.settings-row {
  background: #fff;
  border-bottom: #ddd 2px solid;
  padding: 20px 30px;
  margin-bottom: 30px;
}

