.apps-main-wrapper {
  margin: 0 auto;
  display: block;
  padding: 30px 0;
  width: 100%;
}

.app-list-container {
  padding: 25px 0;
}

.app-list-row {
  text-align: center;
}

.app-list {
  list-style-type: none;
  display: inline-block;
  text-align: left;

  .app-subdomain {
    font-size: 18px;
    font-weight: 400;
  }

  .app-id {
    color: #777;
    font-weight: 200;
  }

  li {
    display: inline-block;
    margin: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .app-card {
    height: 150px;
    width: 150px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    background: #fff;
    border: #efedf5 1px solid;
  }

  .app-card:hover {
    text-decoration: none;
  }
}
