<header class="navbar navbar-default" id="admin-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bellhop</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if current_admin %>
        <% if current_tenant %>
          <li>
            <%= link_to 'Go to site', '/', :target => "_blank" %>
          </li>
        <% end %>
        <li>
          <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
