<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bellhop</a>
    </div>
    <ul class="pull-right">
      <li>
        <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
      </li>
    </ul>
  </div>
</header>
