<div class="admin-sidebar">
  <ul class="sidebar">
    <li>
      <a href="/admin/settings">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        Settings
      </a>
    </li>
    <li>
      <a href="/admin/javascript">
        <i class="fa fa-code" aria-hidden="true"></i>
        Javascript
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-user" aria-hidden="true"></i>
        Account
      </a>
    </li>
  </ul>
</div>
